<% if any_active_filters? %>
  <span class="filter-options">
    <span class="btn-group">
      <a href="#" class="btn btn-sm btn-outline-dark filter-label" role="button" aria-disabled="true">Filter:</a>

      <% if @search.parsed_query[:reason].present? %>
        <% @search.parsed_query[:reason].compact.each do |reason| %>
          <%= reason_filter_option reason do %>
            <%= reason.underscore.humanize %>
          <% end %>
        <% end %>
      <% end %>

      <%= filter_option :unread do %>
        <%= (@search.parsed_query[:unread] === 'true'? 'Unread' : 'Read') %>
      <% end %>

      <%= filter_option :repo do %>
        <%= @search.parsed_query[:repo] %>
      <% end %>

      <%= filter_option :type do %>
        <%= @search.parsed_query[:type].underscore.gsub('repository', '').humanize %>
      <% end %>

      <%= filter_option :owner do %>
        <%= @search.parsed_query[:owner] %>
      <% end %>

      <%= filter_option :state do %>
        <%= @search.parsed_query[:state].humanize %>
      <% end %>

      <%= filter_option :label do %>
        Label: <%= emojify(@search.parsed_query[:label]) %>
      <% end %>

      <% if @search.parsed_query.freetext.present? %>
        <%= filter_option :q do %>
          Search: <%= @search.parsed_query.freetext %>
        <% end %>
      <% end %>

      <%= filter_option :bot do %>
        <%= (@search.parsed_query[:bot] === 'true'? 'Bot' : 'Human') %>
      <% end %>

      <%= filter_option :unlabelled do %>
        <%= (@search.parsed_query[:unlabelled] === 'true'? 'Unabelled' : 'Labelled') %>
      <% end %>

      <%= filter_option :author do %>
        Author: <%= @search.parsed_query[:author] %>
      <% end %>

      <%= filter_option :assigned do %>
        Assigned: <%= @search.parsed_query[:assigned] %>
      <% end %>

      <%= filter_option :is_private do %>
        <%= (@search.parsed_query[:is_private] === 'true'? 'Private' : 'Public') %>
      <% end %>
    </span>
  </span>
<% end %>
